.bank-window{
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bank-window > .container{
  height: auto;
  width: 270px;
  border: 2px solid rgba(122,122,122,0.3);
  border-radius: 32px;
  padding: 0 15px 0 15px;
  display: grid;
  grid-template: 120px, 1fr / 1fr;
  /* background-color: black; */
}

.bank-window > .container div{
  margin: auto;
}

.current-account{
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: gray;
}

.current-account > span{
  font-weight: bold;
  font-style: italic;
  color: red;
}

label.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input[type=radio] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input[type=radio] ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input[type=radio]:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input[type=radio]:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.container input[type=text]{
  width: 100%;
  padding: 6px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  margin-bottom: 17px;
  font-style: italic;
  font-size: 16px;
  color: #43383e;
  line-height: 1.2;
  border: 1px solid rgb(131, 131, 131, 0.5);
  border-radius: 20px;
  position: relative;
  display: block;
  background: #fff;
}

.container input[type=text]:focus{
  outline: 0;
  box-shadow: 0px 0px 2px 1px rgb(131, 131, 131, 0.5);
}

.container input[type=text]:hover{
  box-shadow: 0px 0px 2px 1px rgb(131, 131, 131, 0.5);
}














.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
